@import "compass/reset";
@import "variables";
@import "../jeet/index";
@import "breakpoint";
@import "compass";

// Mixins
@mixin froglinks($color) {
  display: block;
  color: $color;
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

// Placeholder selectors
%quarter-col {
  @include col(1/4);
  @include box-sizing(border-box);
  @include breakpoint($breakpoint-medium-width) {
    @include col(1/2);
    padding: 24px;
  }
  @include breakpoint($breakpoint-small-width) {
    @include col(1/1);
    padding: 24px;
  }
}

// Main styles
h2 {
  font-size: 20px;
  color: $froggreen;
  margin: 24px 0;
}

.above-header {
  background: $frogblack;
}

#page {
  @include center(1224px)

}

#main-nav {
  a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}

header#top {
  padding: 50px 24px;
  background: $froggreen url("../images/bullfrog-header.png") no-repeat right center;
  margin-bottom: 48px;
  @include breakpoint($breakpoint-medium-width) {
    margin-bottom: 0px;
  }
  .logo a {
    font-size: 72px;
    @include breakpoint($breakpoint-small-width) {
      font-size: 48px;
    }
    color: white;
    text-decoration: none;
  }
}

#content {
  @include col(2/4);
  @include box-sizing(border-box);
  @include breakpoint ($breakpoint-medium-width) {
    @include col(1/1);
    padding: 24px;
  }
}

article {
  font-size: 16px;
  line-height: 27px;
  h1 {
    font-size: 36px;
    color: $froggreen;
    margin: 24px 0;
  }
  p {
    font-family: $frogsans;
  }
}

section.content-center,
section.content-right {
  @extend %quarter-col;
  a {
    @include froglinks($froggreen);
  }
}

section.content-center {
  ul {
    font-family: $frogsans;
    li {
      a {
        @include froglinks($froggreen);
      }
    }
  }
}


section.content-right {
  article {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  h3 {
    @extend h2;
    margin-bottom: 12px;
  }
}

footer {
  clear: both;
  background: $frogblack;
  padding: 20px;
  color: white;
}
