/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";

body {
  /*background: red;*/
}

$bullfrog_green: #668134;


.above-header {
	background: #000000;
	height: 40px;
}

#main-nav {
	a {
		color: white;
		text-decoration: none;
		line-height: 40px;
		padding: 0 24px 0 24px;
		font-size: 14px;
	}
}

#top {
	background: $bullfrog_green url(../images/bullfrog-header.png) no-repeat right center;
	height: 175px;
	margin-bottom: 50px;

}


.logo {
	a {
		font-family: Georgia;
		font-size: 72px;
		color: white;
		text-decoration: none;
		left: 20px;
		top: 84px;
		position: absolute;
	}
}

.content-wrap {
	position: relative;
}

#content {
	width: 578px;
	float: left;
}
.article-title {
	font-size: 36px;
	font-family: Georgia;
	color: $bullfrog_green;
}

article p {
	line-height: 170%;
	font-family: Arial;
}

h2, h3 {
	font-size: 20px;
	color: $bullfrog_green;
}



%quarter-col {
	margin: 0 24px;
	width: 267px;
	float: left;
}

section.content-center, 
section.content-right{
	@extend %quarter-col;
}


.content-center 
	{
		a {
			color: $bullfrog_green;
			text-decoration: none;
			font-family: Arial;
		}

}

.read-more {
	color: $bullfrog_green;
	text-decoration: none;
	font-family: Arial;
}

footer {
	background: black;
	height: 150px;
}

footer p {
	color: white;
}
